{% macro tiny_actor_icon(actor) %}
    <img class="tiny-actor-icon" src="{{ actor.resized_icon_url }}" alt="" loading="lazy">
{% endmacro %}

{% macro actor_action(admin_profile_url, inbox_object, text, with_icon=False, new_flag=False) %}
{% set timestamp = inbox_object.ap_published_at %}
{% if not timestamp %}
  {% set timestamp = inbox_object.created_at %}
{% endif %}
    <div class="actor-action">
        <a href="{{ admin_profile_url }}?actor_id={{ inbox_object.actor.ap_id }}">
            {% if with_icon %}{{ tiny_actor_icon(inbox_object.actor) }}{% endif %} {{ inbox_object.actor.display_name | clean_html(inbox_object.actor) | safe }}
        </a> {{ text }}
        <span title="{{ timestamp.isoformat() }}">{{ timestamp | timeago }}</span>
        {% if new_flag %}
            <span class="new">new</span>
        {% endif %}
    </div>
{% endmacro %}
