// font definitions
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6F.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  src: url(https://fonts.gstatic.com/s/opensans/v34/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWt06F15M.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

// override vars for theming here
$font-stack: 'Open Sans', sans-serif;
$background: #F3F3F3;
$light-background: #FFF;
$text-color: #000;
$primary-color: #22ADC2;
$secondary-color: #22ADC2;
$form-background-color: #FEFEFE;
$form-text-color: #333;
$primary-button-text-color: #FFF;
$nav-button-background-color: #22ADC2;
$nav-button-text-color: #FFF;

// mixins
@mixin box-like() {
  background: $light-background;
  box-shadow: #777 0 2px 3px;
  padding: 1.1em;
}

@mixin centered() {
  margin-left: 5%;
  margin-right: 5%;
}

// components

body {
  font-size: 13pt !important;
  line-height: 1.7em !important;
}

header#header {
  @include box-like();
  padding-top: 0.5em;
  padding-bottom: 0.5em;

  .title {
    vertical-align: top;
    margin: 0.5em;
  }

  .follow {
    vertical-align: top;
  }

  img {
    height: 2em;
  }

  .p-author {
    padding: 0 1.1em 0.5em 1.1em;
    #profile-props {
      font-size: 0.7em;
      line-height: initial;
      dl {
        margin: 0;
        dt {
          width: 50px;
        }
      }
    }
  }

  .public-top-menu {
    border-top: 3px solid $primary-color;
    margin: 0;
    padding: 0 1.1em;
  }
}

div#admin {
  @include box-like();
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

div.empty-state,
main>div.ap-object,
main>div.box,
main>ul#articles,
div.h-entry,
div#notifications>div>div.ap-object,
div#following>ul>li>div.ap-object,
div#followers>ul>li>div.ap-object {
  @include box-like();
  @include centered();
  margin-top: 2em;
  margin-bottom: 0;

  div.ap-object {
    margin: 0;
    padding: 0;
  }
}

nav.box {
  @include box-like();
  @include centered();
  padding: 0 1.1em 0 1.1em;
  margin-top: 0em;
  margin-bottom: 0;
}

div.h-entry>div.shared-header {
  margin: 0;
}

main>div.actor-action,
div#notifications>div>div.actor-action {
  @include centered();
  padding: 0 20px;
}

main>div.box:empty {
  display: none;
}

main {
  margin-top: 0 !important;
}

div#admin>div.admin-menu {
  margin: 0;
}

form {
  input[type="text"], input[type="password"] {
    border: 1px solid $form-text-color;
  }
  textarea, select {
    border: 1px solid $form-text-color !important;
    max-width: 100%;
  }
}

div.actor-handle {
  font-size: 0.7em !important;
  font-family: monospace;
}

div.activity-og-meta {
  flex-wrap: wrap;
  div {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

div.actor-box {
  overflow: hidden;
}
