// override vars for theming here
//$font-stack: "Inconsolata", monospace;
//$background: #ffff;
//$light-background: #f8f9fa;
//$text-color: #0d1e2d;
//$primary-color: #1d781d;
//$secondary-color: #781D78;
//$form-background-color: #f8f9fa;
//$form-text-color: #0d1e2d;
//$muted-color: #555; // solarized comment text
//$primary-button-text-color: #f8f9fa;
//$code-highlight-background: #f0f0f0;
