{%- import "utils.html" as utils with context -%}
{%- import "components/actor.html" as actor_component -%}
{%- import "components/filters.html" as filters -%}
{%- import "components/pagination.html" as pagination -%}
{% extends "layout.html" %}

{% block head %}
<link rel="manifest" href="/static/pwa.webmanifest" />
<title>{{ local_actor.display_name }} - Inbox</title>
{% endblock %}

{% block content %}

{% if show_filters %}
    {{ filters.filters(url_for("admin_inbox"), request.query_params.filter_by) }}
{% endif %}

{% if not inbox %}
<div class="box">
    <p>Nothing to see yet, <a href="{{ url_for("get_lookup") }}">start following people in the lookup section</a>.</p>
</div>
{% endif %}

{% for inbox_object in inbox %}
{% if inbox_object.ap_type == "Announce" %}
    <div class="h-entry" id="{{ inbox_object.permalink_id }}">
        {{ actor_component.actor_action(url_for("admin_profile"), inbox_object, "shared", with_icon=True) }}
        <div class="h-cite u-repost-of">
            {{ utils.display_object(inbox_object.relates_to_anybox_object, is_h_entry=False) }}
        </div>
    </div>
{% elif inbox_object.ap_type in ["Article", "Note", "Video", "Page", "Question", "Event"] %}
    {{ utils.display_object(inbox_object) }}
{% elif inbox_object.ap_type == "Follow" %}
    <div class="h-entry" id="{{ inbox_object.permalink_id }}">
        {{ actor_component.actor_action(url_for("admin_profile"), inbox_object, "followed you") }}
        {{ actor_component.display_actor(request, csrf_token, is_admin, inbox_object.actor, actors_metadata) }}
    </div>
{% elif inbox_object.ap_type == "Like" %}
    <div class="h-entry" id="{{ inbox_object.permalink_id }}">
        {{ actor_component.actor_action(url_for("admin_profile"), inbox_object, "liked one of your posts", with_icon=True) }}
        <div class="h-cite u-repost-of">
          {{ utils.display_object(inbox_object.relates_to_anybox_object, is_h_entry=False) }}
        </div>
    </div>
{% else %}
    <p>
    Implement {{ inbox_object.ap_type }}
    {{ inbox_object.ap_object }}
    </p>
{% endif %}
{% endfor %}

{{ pagination.pagination(request.url._path, next_cursor, request.query_params.filter_by) }}

{% endblock %}
