{%- import "components/actor.html" as actor_component -%}
{% extends "layout.html" %}

{% block head %}
<title>{{ local_actor.display_name }}'s follows</title>
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
{% include "header.html" %}
<div id="following">
<ul>
{% for follow in following %}
<li>
    <div class="ap-object">
        {{ actor_component.display_actor(request, csrf_token, is_admin, follow.actor, actors_metadata) }}
    </div>
</li>
{% endfor %}
</ul>

{% set x_more = following_count - following | length %}
{% if x_more > 0 %}
<div class="box">
    <p>And {{ x_more }} more.</p>
</div>
{% endif %}

{% if is_admin %}
<div class="box">
    <p><a href="{{ url_for("admin_outbox") }}?filter_by=Follow">Manage follows</a></p>
</div>
{% endif %}

</div>
{% endblock %}
