{%- import "components/attachments.html" as attachments -%}
{%- import "components/hidden_inputs.html" as hidden_inputs -%}
{%- import "components/admin_buttons.html" as admin_buttons -%}
{%- import "components/actor.html" as actor_component -%}

{% macro display_og_meta(object) %}
{% block display_og_meta scoped %}
{% if object.og_meta %}
{% for og_meta in object.og_meta[:1] %}
<div class="activity-og-meta">
    {% if og_meta.image %}
    <div>
        <img src="{{ og_meta.image | media_proxy_url }}" loading="lazy">
    </div>
    {% endif %}
    <div>
        <a href="{{ og_meta.url | privacy_replace_url }}">{{ og_meta.title }}</a>
        {% if og_meta.site_name %}
            <small>{{ og_meta.site_name }}</small>
        {% endif %}
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
{% endmacro %}

{% macro display_webmention_reply(wm_reply) %}
{% block display_webmention_reply scoped %}

<div class="ap-object u-comment h-cite">
<div class="actor-box h-card p-author">
    <div class="icon-box">
        <img src="{{ wm_reply.face.picture_url }}" alt="{{ wm_reply.face.name }}'s avatar" class="actor-icon u-photo" loading="lazy">
    </div>
    <a href="{{ wm_reply.face.url }}" class="u-url">
        <div><strong class="p-name">{{ wm_reply.face.name | clean_html_wm | safe }}</strong></div>
        <div class="actor-handle">{{ wm_reply.face.url | truncate(64, True) }}</div>
    </a>
</div>

    <p class="in-reply-to">in reply to <a href="{{ wm_reply.in_reply_to }}" title="{{ wm_reply.in_reply_to }}" rel="nofollow">
        this object
    </a></p>

    <div class="obj-content margin-top-20">
    <div class="e-content">
        {{ wm_reply.content | clean_html_wm | safe }}
    </div>
    </div>

    <nav class="flexbox activity-bar margin-top-20">
    <ul>
        <li>
            <div><a href="{{ wm_reply.url }}" rel="nofollow" class="object-permalink u-url u-uid">permalink</a></div>
        </li>
        <li>
            <time class="dt-published" datetime="{{ wm_reply.published_at.replace(microsecond=0).isoformat() }}" title="{{ wm_reply.published_at.replace(microsecond=0).isoformat() }}">{{ wm_reply.published_at | timeago }}</time>
        </li>
        {% if is_admin %}
            <li>
                {{ admin_buttons.admin_force_delete_webmention_button(request, csrf_token, wm_reply.webmention_id) }}
            </li>
        {% endif %}
    </ul>
    </nav>
</div>

{% endblock %}
{% endmacro %}

{% macro display_object(object, likes=[], shares=[], webmentions=[], expanded=False, actors_metadata={}, is_object_page=False, is_h_entry=True) %}
{% block display_object scoped %}
{% set is_article_mode = object.is_from_outbox and object.ap_type == "Article" and is_object_page %}
{% if object.ap_type in ["Note", "Article", "Video", "Page", "Question", "Event"] %}
<div class="ap-object {% if expanded %}ap-object-expanded {% endif %}{% if is_h_entry %}h-entry{% endif %}" id="{{ object.permalink_id }}">

    {% if is_article_mode %}
    <data class="h-card">
        <data class="u-photo" value="{{ local_actor.icon_url }}"></data>
        <data class="u-url" value="{{ local_actor.url}}"></data>
        <data class="p-name" value="{{ local_actor.handle }}"></data>
    </data>
    {% else %}
    {{ actor_component.display_actor(request, csrf_token, is_admin, object.actor, actors_metadata) }}
    {% endif %}

    {% if object.in_reply_to %}
    <p class="in-reply-to">in reply to <a href="{% if is_admin and object.is_in_reply_to_from_inbox %}{{ url_for("get_lookup") }}?query={% endif %}{{ object.in_reply_to }}" title="{{ object.in_reply_to }}" rel="nofollow">
            this object
        </a></p>
    {% endif %}

    {% if object.ap_type in ["Article", "Event", "Page"] %}
        <h2 class="p-name no-margin-top">{{ object.name }}</h2>
    {% endif %}

    {% if object.ap_type == "Event" %}
        {% if object.ap_object.get("endTime") and object.ap_object.get("startTime") %}
            <p>On {{ object.ap_object.startTime | parse_datetime | format_date }}
            (ends {{ object.ap_object.endTime | parse_datetime | format_date }})</p>
        {% endif %}
    {% endif %}

    {% if object.ap_object.get("location") %}
        {% set loc = object.ap_object.get("location") %}
        {% if loc.type == "Place" and loc.latitude and loc.longitude %}
        <div class="ap-place">
            <h3>Location</h3>
            {% if loc.name %}{{ loc.name }}{% endif %}
            <span class="h-geo">
                <data class="p-latitude" value="{{ loc.latitude}}"></data>
                <data class="p-longitude" value="{{ loc.longitude }}"></data>
                <a href="https://www.openstreetmap.org/?mlat={{ loc.latitude }}&mlon={{ loc.longitude }}#map=16/{{loc.latitude}}/{{loc.longitude}}">{{loc.latitude}},{{loc.longitude}}</a>
            </span>
        </div>
        {% endif %}
    {% endif %}

    {% if is_article_mode %}
                <time class="dt-published muted" datetime="{{ object.ap_published_at.replace(microsecond=0).isoformat() }}" title="{{ object.ap_published_at.replace(microsecond=0).isoformat() }}">{{ object.ap_published_at.strftime("%b %d, %Y") }}</time>
    {% endif %}

    {% if object.summary %}
    <details class="show-more-wrapper">
        <summary>
            <div class="p-summary">
                <p>{{ object.summary | clean_html(object) | safe }}</p>
            </div>
            <span class="show-more-btn" aria-hidden="true"></span>
        </summary>
    {% endif %}
        <div class="obj-content">
        <div class="e-content">
            {{ object.content | clean_html(object) | safe }}
        </div>

    {% if object.ap_type == "Question" %}
        {% set can_vote = is_admin and object.is_from_inbox and not object.is_poll_ended and not object.voted_for_answers %}
        {% if can_vote %}
            <form action="{{ request.url_for("admin_actions_vote") }}" method="POST">
                {{ hidden_inputs.embed_csrf_token(csrf_token) }}
                {{ hidden_inputs.embed_redirect_url(request, object.permalink_id) }}
                <input type="hidden" name="in_reply_to" value="{{ object.ap_id }}">
        {% endif %}

        {% if object.poll_items %}
            <ul class="poll-items">
            {% for item in object.poll_items %}
            <li>
                {% set pct = item | poll_item_pct(object.poll_voters_count) %}
                <p>
                    {% if can_vote %}
                    <input type="{% if object.is_one_of_poll %}radio{% else %}checkbox{% endif %}" name="name" value="{{ item.name }}" id="{{object.permalink_id}}-{{item.name}}">
                    <label for="{{object.permalink_id}}-{{item.name}}">
                    {% endif %}

                    {{ item.name | clean_html(object) | safe }}

                    {% if object.voted_for_answers and item.name in object.voted_for_answers %}
                    <span class="muted poll-vote">you voted for this answer</span>
                    {% endif %}

                    {% if can_vote %}
                    </label>
                    {% endif %}

                    <span class="float-right">{{ pct }}% <span class="muted">({{ item.replies.totalItems }} votes)</span></span>
                </p>
                <svg class="poll-bar">
                    <line x1="0" y1="10px" x2="{{ pct or 1 }}%" y2="10px"></line>
                </svg>
            </li>
            {% endfor %}
            </ul>
        {% endif %}

        {% if can_vote %}
            <p class="form">
                <input type="submit" value="vote">
            </p>
            </form>
        {% endif %}


    {% endif %}

        {{ display_og_meta(object) }}

        </div>
    {% if object.summary %}
    </details>
    {% endif %}

    <div class="activity-attachment">
    {{ attachments.attachments(object) }}
    </div>

    <nav class="flexbox activity-bar">
    <ul>
        <li>
            <div><a href="{{ object.url }}"{% if object.is_from_inbox %} rel="nofollow"{% endif %} class="object-permalink u-url u-uid">permalink</a></div>
        </li>

        {% if object.is_from_outbox and is_object_page and not is_admin and not request.url.path.startswith("/remote_interaction") %}
            <li>
                <a class="label-btn" href="{{ request.url_for("remote_interaction") }}?ap_id={{ object.ap_id }}">
                    interact from your instance
                </a>
            </li>
        {% endif %}


        {% if not is_article_mode %}
            <li>
                <time class="dt-published" datetime="{{ object.ap_published_at.replace(microsecond=0).isoformat() }}" title="{{ object.ap_published_at.replace(microsecond=0).isoformat() }}">{{ object.ap_published_at | timeago }}</time>
            </li>
        {% endif %}
        {% if object.ap_type == "Question" %}
            {% if object.poll_end_time %}
                <li>
                    {% if object.is_poll_ended %}ended{% else %}ends{% endif %}
                    <time title="{{ object.poll_end_time.replace(microsecond=0).isoformat() }}">
                        {{ object.poll_end_time | timeago }}
                    </time>
                </li>
            {% endif %}
            <li>
                {{ object.poll_voters_count }} voters
            </li>
        {% endif %}
        {% if is_admin %}
            <li>
                {{ object.visibility.value }}
            </li>
        {% endif %}

        {% if object.is_from_outbox %}
            {% if object.likes_count %}
            <li>
                <a href="{{ object.url }}"><strong>{{ object.likes_count }}</strong> like{{ object.likes_count | pluralize }}</a>
            </li>
            {% endif %}

            {% if object.announces_count %}
            <li>
                <a href="{{ object.url }}"><strong>{{ object.announces_count }}</strong> share{{ object.announces_count | pluralize }}</a>
            </li>
            {% endif %}

            {% if object.webmentions_count %}
            <li>
                <a href="{{ object.url }}"><strong>{{ object.webmentions_count }}</strong> webmention{{ object.webmentions_count | pluralize }}</a>
            </li>
            {% endif %}

        {% endif %}

        {% if (object.is_from_outbox or is_admin) and object.replies_count %}
        <li>
            <a href="{% if is_admin and not object.is_from_outbox %}{{ url_for("admin_object") }}?ap_id={{ object.ap_id }}{% if object.in_reply_to %}#{{ object.permalink_id }}{% endif %}{% else %}{{ object.url }}{% endif %}"><strong>{{ object.replies_count }}</strong> repl{{ object.replies_count | pluralize("y", "ies") }}</a>
        </li>
        {% endif %}

    </ul>
    </nav>

    {% if is_admin %}
    <nav class="flexbox activity-bar">
    <ul>
        {% if object.is_from_outbox %}
            <li>
                {{ admin_buttons.admin_delete_button(request, csrf_token, object) }}
            </li>

            <li>
                {% if object.is_pinned %}
                    {{ admin_buttons.admin_unpin_button(request, csrf_token, object.ap_id, object.permalink_id) }}
                {% else %}
                    {{ admin_buttons.admin_pin_button(request, csrf_token, object.ap_id, object.permalink) }}
                {% endif %}
            </li>
        {% endif %}

        <li>
            {{ admin_buttons.admin_reply_button(request, csrf_token, object.ap_id) }}
        </li>

        {% if not object.is_from_outbox %}
            <li>
                {% if object.liked_via_outbox_object_ap_id %}
                    {{ admin_buttons.admin_undo_button(request, csrf_token, object.liked_via_outbox_object_ap_id, "unlike", object.permalink_id) }}
                {% else %}
                    {{ admin_buttons.admin_like_button(request, csrf_token, object.ap_id, object.permalink_id) }}
                {% endif %}
            </li>

            <li>
                {% if object.is_bookmarked %}
                    {{ admin_buttons.admin_unbookmark_button(request, csrf_token, object.ap_id, object.permalink_id) }}
                {% else %}
                    {{ admin_buttons.admin_bookmark_button(request, csrf_token, object.ap_id, object.permalink_id) }}
                {% endif %}
            </li>

            {% if object.visibility in [visibility_enum.PUBLIC, visibility_enum.UNLISTED] %}
            <li>
                {% if object.announced_via_outbox_object_ap_id %}
                    {{ admin_buttons.admin_undo_button(request, csrf_token, object.announced_via_outbox_object_ap_id, "unshare") }}
                {% else %}
                    {{ admin_buttons.admin_announce_button(request, csrf_token, object.ap_id, permalink_id=object.permalink_id) }}
                {% endif %}
            </li>
            {% endif %}

            {% if object.is_from_inbox %}
                <li>
                    {{ admin_buttons.admin_profile_button(request, csrf_token, object.actor.ap_id) }}
                </li>
            {% endif %}
        {% endif %}
        {% if object.is_from_inbox or object.is_from_outbox %}
            <li>
                {{ admin_buttons.admin_expand_button(request, csrf_token, object) }}
            </li>
        {% endif %}
        {% if object.is_from_inbox and not object.announced_via_outbox_object_ap_id and object.is_local_reply %}
            <li>
                {{ admin_buttons.admin_force_delete_button(request, csrf_token, object.ap_id) }}
            </li>
        {% endif %}
    </ul>
    </nav>
    {% endif %}


    {% if likes or shares or webmentions %}
    <div class="public-interactions">
        {% if likes %}
            <div class="interactions-block">Likes
                <div class="facepile-wrapper">
                {% for like in likes %}
                    <a href="{% if is_admin and like.ap_actor_id %}{{ url_for("admin_profile") }}?actor_id={{ like.ap_actor_id }}{% else %}{{ like.url }}{% endif %}" title="{{ like.name }}" rel="noreferrer">
                        <img src="{{ like.picture_url }}" alt="{{ like.name }}" loading="lazy">
                    </a>
                {% endfor %}
                {% if object.likes_count > likes | length %}
                    <div class="and-x-more">
                        and {{ object.likes_count - likes | length }} more.
                    </div>
                {% endif %}
                </div>
            </div>
        {% endif %}

        {% if shares %}
            <div class="interactions-block">Shares
                <div class="facepile-wrapper">
                {% for share in shares %}
                    <a href="{% if is_admin and share.ap_actor_id %}{{ url_for("admin_profile") }}?actor_id={{ share.ap_actor_id }}{% else %}{{ share.url }}{% endif %}" title="{{ share.name }}" rel="noreferrer">
                        <img src="{{ share.picture_url }}" alt="{{ share.name }}" loading="lazy">
                    </a>
                {% endfor %}
                {% if object.announces_count > shares | length %}
                    <div class="and-x-more">
                        and {{ object.announces_count - shares | length }} more.
                    </div>
                {% endif %}
                </div>
            </div>
        {% endif %}

        {% if webmentions %}
            <div class="interactions-block">Webmentions
                <div class="facepile-wrapper">
                {% for webmention in webmentions %}
                    {% set wm = webmention.as_facepile_item %}
                    {% if wm %}
                        <a href="{{ wm.url }}" title="{{ wm.actor_name }}" rel="noreferrer">
                            <img src="{{ wm.actor_icon_url | media_proxy_url }}" alt="{{ wm.actor_name }}" loading="lazy">
                        </a>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>
    {% endif %}


</div>
{% endif %}
{% endblock %}
{% endmacro %}
